version: "3.3"

services:
    web:
        image: nginx:latest
        ports:
            - 8080:80
        volumes:
            - ./app:/app
            - ./default.conf:/etc/nginx/conf.d/default.conf
        links:
            - php
        networks:
            - wmnet

    php:
        image: php:fpm
        volumes:
            - ./app:/app
        networks:
            - wmnet
        command:
            - /bin/sh
            - -c
            - |
                docker-php-ext-install mysqli
                php-fpm

    db:
        image: mysql:latest
        ports:
            - 3306:3306
        command:
            --character-set-server=utf8mb4 --collation-server=utf8mb4_unicode_ci 
            --default-authentication-plugin=mysql_native_password
            --init-file /docker-entrypoint-initdb.d/init.sql
        volumes:
            - ./init.sql:/docker-entrypoint-initdb.d/init.sql
        environment:
            MYSQL_ROOT_USER: root
            MYSQL_ROOT_PASSWORD: root
            MYSQL_DATABASE: wm
            MYSQL_USER: user1
            MYSQL_PASSWORD: user1
        networks:
            - wmnet

    phpmyadmin:
        depends_on:
            - db
        image: phpmyadmin
        ports:
            - 5502:80
        environment:
            PMA_HOST: db
            MYSQL_ROOT_PASSWORD: root
        networks:
            - wmnet

networks:
    wmnet:
